#ranking-container {
    /*margin-top : 30px;*/
}

.bargraph {
    height: 260px;
}

#ranking-bravo {
	display: none;
	font-size : 26px;
}

#ranking-container .progress {
    font-size : 26px;
    text-align : center;
    margin-top : 30px;
    color : red;
}

#ranking-container .progress .points {
    font-size : 0.8em;
}

#ranking-iframe {
    width : 213px;
    height : 330px;
}