.luditype-goals input[type="checkbox"]{
    margin-right : 3px;
}

/*
#goals-container {
    margin-bottom: 15px;
    border: 1px solid;
}

#goals-container #goals {
    padding-left: 2rem;
}

#goals-container #goals li {
    margin-bottom : 6px;
}

#new-goal {
    display : block;
    width : 100%;
    height : 50px;
}

#add-goal {
    display : block;
    margin : auto;
}
*/
