#progress-container {
    position : relative;
    overflow:auto;
    width : 180px;
    height:180px;
    margin : auto;
    margin-top : 30px;
}

#progress-container .progress {
    font-size : 26px;
    text-align : center;
    margin-top : 30px;
    color : red;
}

#progress-container .progress .points {
    font-size : 0.8em;
}

/*
 * Definitions for the displaying GI
 */
.svg {
    position:absolute;
    top:0;
    left:0;
    width : 180px;
    height : 180px;
}

[id^=Branche1_Etape] {
    visibility: hidden;
}

#Branche1_Etape0 {
    visibility: visible;
}

#avatar-picture {
    display : none;
    position:absolute;
    top:0;
    left:0;
}

#congratulation {
    display : none;
    font-weight : bold;
    color : red;
    text-align : center;
    margin-top: 10px;
}

#avatar-container {
    position : relative;
    overflow:auto;
    width : 180px;
    height:180px;
    margin : auto;
    margin-top : 30px;
}

#next-piece {
    display : block;
    margin : auto;
    margin-top : 3px;
}