#progress-container {
    position : relative;
    overflow:auto;
    width : 180px;
    height:180px;
    margin : auto;
    margin-top : 30px;
}

#progress-container .progress {
    font-size : 26px;
    text-align : center;
    margin-top : 30px;
    color : red;
}

#progress-container .progress .points {
    font-size : 0.8em;
}

/*
 * Definitions for the displaying GI
 */
.svg {
    position:absolute;
    top:0;
    left:0;
    width : 180px;
    height : 180px;
}

#branch-container {
    position : relative;
    overflow: auto;
    width : 180px;
    height: 180px;
    margin : auto;
}

#branch-div {
    display: none;
}

[id^=branch-picture] [id^=calque]:not(#calque00) {
    visibility: hidden;
}

/*#branch-picture1 [id^=calque]:not(#calque00) {
    visibility: hidden;
}

#branch-picture2 [id^=calque]:not(#calque00) {
    visibility: hidden;
}

#branch-picture3 [id^=calque]:not(#calque00) {
    visibility: hidden;
}

#branch-picture4 [id^=calque]:not(#calque00) {
    visibility: hidden;
}

#branch-picture5 [id^=calque]:not(#calque00) {
    visibility: hidden;
}

#branch-picture6 [id^=calque]:not(#calque00) {
    visibility: hidden;
}

#branch-picture7 [id^=calque]:not(#calque00) {
    visibility: hidden;
}

#branch-picture8 [id^=calque]:not(#calque00) {
    visibility: hidden;
}

#branch-picture9 [id^=calque]:not(#calque00) {
    visibility: hidden;
}*/
