.ludi-course-badges {
    width: 100%;
    text-align: center;
    display: block;
}

img.ludi-badge {
    margin : 0;
    display: inline-block;
    width: 55px;
    height: 55px;
    padding: 5px;
}

img.ludi-badge.ludi-new img {
    width: 60px;
    height: 60px;
    padding: 0;
}

.ludi-pyramid-container{
    width:100%;
    padding:2px;
    text-align: center;
}

.ludi-pyramid-container [id^=calque]:not(#calque00),
    visibility: hidden;
}

/*.ludi-course-badges figure {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    padding: 5px 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 0.3rem;
}

.ludi-course-badges figcaption {
    font-size: 8px;
}*/
/*
.ludi-badge-new {
    margin-top: 15px;
}

.ludi-badge.ludi-new li {
    text-align: center;
    display: inline;
    list-style: none;
}
*/
/*#global-badge {
    display : none;
    width : 40px;
    height : 40px;
    display : inline-block;
    margin : 6px;
}

.ludic_motivators-badge img {
    width : 45px;
    height : 45px;
}
*/
/*
 * Definition for the displaying GI
 */
/*
.svg {
    position:absolute;
    top:0;
    left:0;
    width : 180px;
    height : 180px;
}

#avatar-container {
    position : relative;
    overflow: auto;
    width : 180px;
    height: 180px;
    margin : auto;
}

#avatar-div {
    display: none;
}

#avatar-picture [id^=calque]:not(#calque01) {
    visibility: hidden;
}

#next-piece {
    display : block;
    margin : auto;
    margin-top : 3px;
}
*/