.svg {
    position:absolute;
    top:0;
    left:0;
    width : 180px;
    height : 180px;
}

#congratulation {
    display : none;
    font-weight : bold;
    color : red;
    text-align : center;
    margin-top: 10px;
}

#avatar-container, #element-container {
    position : relative;
    overflow: auto;
    width : 180px;
    height: 180px;
    margin : auto;
}

#avatar-picture [id^=calque]:not(#calque01) {
    visibility: hidden;
}

#element-picture [id^=calque] {
    visibility: hidden;
}

#next-piece {
    display : block;
    margin : auto;
    margin-top : 3px;
}