svg {
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
    width : 180px;
    height : 180px;
    margin: 16px;
}

path {
    fill : red;
    fill-opacity:0.5;
}

path #piece-2-1{
    fill: beige;
}

#stage{
    width: 180px;
    height: 180px;
}

.dimmed {
    fill-opacity: 1;
}

#avatar-picture {
    display : none;
    position:absolute;
    top:0;
    left:0;
}

#congratulation {
    display : none;
    font-weight : bold;
    color : red;
    text-align : center;
}

#avatar-container {
    position : relative;
    overflow:auto;
    width : 180px;
    height:180px;
    margin : auto;
    margin-top : 30px;
}

#next-piece {
    display : block;
    margin : auto;
    margin-top : 3px;
}
