.svg {
    position:absolute;
    top:0;
    left:0;
    width : 180px;
    height : 180px;
}

#avatar-picture {
    /*display : none;
    position:absolute;
    top:0;
    left:0;*/
}

#congratulation {
    display : none;
    font-weight : bold;
    color : red;
    text-align : center;
    margin-top: 10px;
}

#avatar-container, #element-container {
    position : relative;
    overflow:auto;
    width : 180px;
    height: 180px;
    margin : auto;
    margin-bottom : 15px;
}

#avatar-container > img, #avatar-container > img {
    width : 180px;
    height: 180px;
}

#next-piece {
    display : block;
    margin : auto;
    margin-top : 3px;
}