#badges-container {
    /*margin-top : 15px;*/
}

#course-badge {
    margin : 0px;
    list-style: none;
    padding: 0;
}

#course-badge {
    display: inline-block;
}

#course-badge li {
    text-align: center;
    display: inline;
    list-style: none;
}

#course-badge img {
    width : 45px;
    height : 45px;
}

#course-badge figure {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    padding: 5px 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 0.3rem;
}

#course-badge figcaption {
    font-size: 8px;
}

#new-badge  {
    margin-top: 15px;
}

#new-badge li {
    text-align: center;
    display: inline;
    list-style: none;
}

#new-badge img {
    width : 50px;
    height : 50px;
}

#global-badge {
    display : none;
    width : 40px;
    height : 40px;
    display : inline-block;
    margin : 6px;
}

.ludic_motivators-badge img {
    width : 45px;
    height : 45px;
}

/*
 * Definition for the displaying GI
 */
.svg {
    position:absolute;
    top:0;
    left:0;
    width : 180px;
    height : 180px;
}

#avatar-container {
    position : relative;
    overflow: auto;
    width : 180px;
    height: 180px;
    margin : auto;
}

#avatar-div {
    display: none;
}

#avatar-picture [id^=calque]:not(#calque01) {
    visibility: hidden;
}

#next-piece {
    display : block;
    margin : auto;
    margin-top : 3px;
}